/* File style about */

.button {
    background: linear-gradient(135deg, #18d26e 15%, #1a6ca3 100%);
    margin-left: 40px;
    padding: 5px 20px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.button:hover {
    transform: scale(1.1);
    background: linear-gradient(135deg, #14b961 15%, #155a88 100%);
}

.main-content-about .main-content-about-title {
    text-align: center;
    font-size: 1.8em;
    margin: 100px 0 60px 0;
    color: #fff;
}

.main-content-about p {
    line-height: 1.6;
    background-color: #202024;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.main-content-about img {
    display: flex;
    margin: 40px auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}
