/* File style mobile */

@media (max-width: 1210px) {
    .main-content-projects-details article {
        flex-basis: 45% !important;
    }
}

@media (max-width: 1024px) {
    .main-content-skills-details .main-content-skills-details-technologies-all img {
        flex-basis: 15%;
    }

    .main-content-projects-details > article {
        flex-basis: 100% !important;
    }
}

@media (max-width: 968px) {
    .main-aside {
        max-width: 18rem;
    }

    .main-content {
        left: 18.5rem !important;
    }

    .main-content-about > img {
        width: 400px;
    }
}

@media (max-width: 768px) {
    .main-aside {
        max-width: 16rem;
    }

    .main-aside-social-nav-networks {
        flex-wrap: wrap;
    }

    .main-aside-social-nav-networks > li img {
        flex-basis: 50%;
        margin-top: 5px !important;
    }

    .main-content-about > img {
        width: 350px;
    }

    .main-content {
        left: 16.5rem !important;
    }
}

@media (max-width: 755px) {
    .main-aside {
        display: none;
    }

    .main-content-aside-mobile {
        display: block;
    }

    .main-content {
        left: 0 !important;
    }

    .main-content-skills-details .main-content-skills-details-technologies-all img {
        flex-basis: 16%;
    }
}

@media (max-width: 470px) {
    .main-content {
        padding: 0 20px !important;
    }

    .main-content-skills-details .main-content-skills-details-technologies-all img {
        flex-basis: 35%;
    }
}

@media (max-width: 400px) {
    .main-content-about img {
        width: 300px;
    }
}

@media (max-width: 330px) {
    .main-content-about img {
        width: 250px;
    }
}

@media (max-width: 380px) and (max-height: 660px) {
    aside {
        overflow-y: auto;
    }

    .main-aside-social-nav-networks {
        margin: 0 30px 30px 30px !important;
    }
}
