/* File style projects */

.main-content-header-title h1 {
    text-align: center;
    font-size: 1.8em;
    margin: 100px 0 60px 0;
    color: #fff;
}

.main-content-projects-titles {
    display: flex;
    justify-content: space-around;
    flex-basis: 100px;
    margin-bottom: 40px;
    cursor: pointer;
    font-size: 0.6em;
}

.main-content-projects-titles h1 {
    display: flex;
    font-weight: 300;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.main-content-projects-titles h1:hover {
    border-bottom: 2px solid #46C9EE;
}

/* border */
.active {
    border-bottom: 2px solid #46C9EE;
}
/*  */

.main-content-projects-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-content-projects-details article {
    flex-basis: 40%;
    text-align: center;
    font-size: 0.8em;
    line-height: 0.8;
    background-color: #202024;
    padding: 10px 100px;
    margin-bottom: 20px;
    transition: all 0.4s ease-in-out;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.main-content-projects-details article:hover {
    flex-basis: 50%;
    line-height: 0.8;
    box-shadow: 0 0 10px #46C9EE;
}

.main-content-projects-details-link {
    font-size: 1.1em;
    color: #E18220;
    font-weight: 600;
}

/* Quando não tiver conteudo suficiente, tirar depois */
.main-footer-copyright {
    position: absolute;
    bottom: 0;
}
