/* File style default */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #121214;
    color: #a8a8b3;
    font-size: 1em;
}

/* aside */
.main-aside {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 20.5rem;
    background-color: #202024;
    text-align: center;
}

.main-aside-content img {
    display: flex;
    width: 200px;
    height: 200px;
    border: 2px solid #46C9EE;
    margin: 40px auto 20px auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.main-aside-content header > p {
    color: #fff;
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 20px;
}

.main-aside-content-border-divider {
    border-bottom: 1px solid #333;
    width: 40%;
    margin: 10px auto;
}

.main-aside-content-border-divider.social {
    border-bottom: 2px solid #46C9EE;
    width: 34%;
    margin-top: 4px;
}

.main-aside-content-border-divider-bottom {
    border-bottom: 1px solid #333;
    width: 20%;
    margin: 10px auto;
}

.main-aside-content-description {
    color: #fff;
    font-size: 0.8em;
    margin: 10px 0;
    padding: 0 20px;
}

.main-aside-pages-nav-menu {
    margin-top: 30px;
}

.main-aside-pages-nav-menu li {
    margin-top: 10px;
}

.main-aside-pages-nav-menu a {
    color: #fff;
    background: linear-gradient(135deg, #18d26e 5%, #1a6ca3 100%);
    transition: all 0.4s;
    padding: 2px 10px;
    font-weight: bold;
    box-shadow: 0 0 10px #000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.main-aside-pages-nav-menu a:hover {
    background: linear-gradient(135deg, #13b860 5%, #1a6ca3 100%);
}

.main-aside-social {
    margin-top: 40px;
}

.main-aside-social-title > h1 {
    color: #fff;
    font-size: 1.1em;
    font-weight: 600;
}

.main-aside-social-nav {
    margin-top: 20px;
}

.main-aside-social-nav-networks {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    margin: auto 30px;
    padding: 10px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.main-aside-social-nav-networks > li img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    transform: scale(0.9);
    transition: all 0.3s ease-in-out;
}

.main-aside-social-nav-networks > li img:hover {
    transform: scale(1);
}

.main-aside-social-nav .main-aside-social-nav-networks a {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*  */

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

/* Largura máxima do site */
.main-content {
    max-width: 100%;
    padding: 0 40px;
}

.main-header-content {
    max-width: 800px;
}

.color-green {
    color: #46C9EE;
}

/* Barra de rolagem */
::-webkit-scrollbar {
    width: 10px;
    background: #202024;
}

::-webkit-scrollbar-thumb {
    background: #46C9EE;
    border-radius: 10px;
}
